<ion-header>
  <ion-toolbar>
    <ion-title>animation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <lottie-animation-view [options]="lottieConfig"
  (animCreated)="handleAnimation($event)"
  > -->
  <!-- <div>
    <script src="../Spotlight.js" style="width: 100px; height: 100px" type="text/javascript"></script>
  </div> -->
<!-- </lottie-animation-view> -->
<!-- <ng-lottie
  width="600px"
  height="500px"
  containerClass="moving-box"
  [styles]="styles"
  [options]="options"
  (animationCreated)="animationCreated($event)"
  (configReady)="configReady()"
  (dataReady)="dataReady()"
  (domLoaded)="domLoaded()"
  (enterFrame)="enterFrame($event)"
  (segmentStart)="segmentStart($event)"
  (complete)="complete($event)"
  (loopComplete)="loopComplete($event)"
  (destroy)="destroy($event)"
  (error)="error($event)"
></ng-lottie> -->

</ion-content>
