<ion-header>
  <ion-toolbar>
    <ion-title>animation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <script src="js/lottie.js" type="text/javascript"></script>
  <lottie-player id="lottiee-plyr" class="lottiee-plr"  src="../assets/Spotlight.json">
  </lottie-player> -->

  <!-- <script src="../Spotlight.js"></script> -->
  <!-- <div class="lottiee-plr" id="Spotlight">
    </div> -->

  <div>
      <!-- <button>Test</button> -->
  <lottie-animation-view [options]="lottieConfig" ></lottie-animation-view>

  </div>
</ion-content>
